$smallerDevices:450px;
$smallDevices:568px;
$mediumDevices:768px;
$largeDevices:988px;
$largerDevices:1200px;



//colors
$whiteColor:#ffff;
$textPrimary:#213F7D;
$textSecondary:#545F7D;


//list responsive breakpoints

